.about-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: #b4c0f7;
    height: 500px;
}

.about-container-col {
    flex-basis: 50%;
}

.about-container-col h1 {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 25px;
}

.about-container-col p {
    font-size: 25px;
    margin: 30px 100px; 
}