.header-container {
    font-family: 'Orbitron', sans-serif;
    background-color: #f1f1f1;
    height: 400px;
}

.header-container h1 {
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
}

.header-container h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}