.header-container {
    font-family: 'Orbitron', sans-serif;
    background-color: #f1f1f1;
    height: 400px;
}

.title {
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 100px;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 100px;
}