.header-custom {
    background-color:rgb(173 176 207);
    height: 400px;
}

.title {
    font-family: Impact;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 100px;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 100px;
}