.initial-logo {
  font-family: 'Orbitron', sans-serif;
  font-size: 60px;
}

.nav-section {
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .center-on-small {
    text-align: center;
  }

  .center-on-small .nav-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}